
* {
  margin: 0px;
  
  display: block;
}
html {
  font-family: "fontello", sans-serif;
  display: block;
}
.bg-grey {
  background: #f7f7f7;
  display: block;
}





@media only screen and (max-width: 600px){
  /*hình avatar*/
  .imgcv {

    display: block;
  }



  #nav-bar {
    display: block;
    
    
  }

  /*#nav-bar a:link,
  a:visited {
    display: block;
    padding: 10px;*/
  
  .target-personal {
    display: block;
    gap: 40px;
    width: auto;
  }
  
  
  .target-personal p,
  li {
    font-size: 13px;
    display: block;
  }
 
  ul {
    list-style: none;
    display: block;
  }

  .job ul {
    list-style: none;
    display: block;
  }
  .border-job {
    border: 1px solid rgb(206, 202, 202);
    line-height: 1.6;
    padding: 5px;
    display: block;
  }
  
  .grid-job-icon {
    display: block;
    grid-template-columns: 70% 30%;
    margin-bottom: 10px;

    margin-top: 10px;
  }
  .job-tittle {
    font-size: 18px;
    display: block;
  }
  .job-icon {
    font-size: 30px;
    color: #adb5bd;
    display: block;
  }
  .job-text {
    font-size: 13px;
    display: block;
  }
  .job-text h4 {
    font-size: 13px;
    display: block;
  }
  
  .job ul li::before {
    content: "\2022";
    color: #1971c2;
    font-weight: bold;
    font-size: 18px;
    display: block;
    width: 1em;
    margin-left: -1em;
    transform: translate(0, 80%);
  }
 
  .grid-sothich {
    display: block;
  }
  
  .ic-megaphone,
  .ic-strategy,
  .ic-hotairballoon,
  .ic-basket {
    font-size: 10px;
    border: 1px solid;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    /*căn chỉnh icon vô giữa*/
    display: block;
    align-items: center;
    text-align: center;
    padding-top: 7px;
  }
  .ic-sothich {
    padding: 10px;
    display: block;
    text-align: center;
  }
  
  .point-blue {
    background: #199cdb;
    display: block;
    width: 45px;
    height: 2px;
    margin-right: 10px;
  }
  .point-grey {
    background: #dee2e6;
    display: block;
    width: 45px;
    height: 2px;
    margin-right: 10px;
  }
 
  
  .ccgt img {
    display: grid;
  
    gap: 5px;
    width: 10%;
    height: 1vh;
   
    
  }

  
  
  .ccdn img {
    width: 60%;
    height: 10px;
    display: grid;

    

  }
  

  .du-an img {
    width: 50%;
    height: 2vh;
    display: grid;

  }
  .nam {
    background-color: #228be6;
    color: #fff;
    display: block;
    border-radius: 15px;
    width: 50px;
    height: 25px;
    padding-left: 5px;
  }
  .chucvu {
    display: block;
    grid-template-rows: 10% 90%;
    gap: 30px;
    border-top: 1px solid #adb5bd;
    width: 100%;
    padding: 15px;
  }
  .area {
    display: block;
    flex-direction: column;
    gap: 20px;
  }
  .icon-user-1,
  .icon-lamp {
    color: #868e96;
    display: block;
  }
  table {
    border-collapse: collapse; 
    display: block;
    width: 100%;
  }
  td {
    border-top: 1px solid #adb5bd;
    padding: 15px;
    display: block;
  }
  .tittle-duan {
    border-top: 1px solid #adb5bd;
    width: 100%;
    padding: 15px;
    padding-left: 25px;
    font-size: 20px;
    display: block;
  }
  
  .cot1 {
    display: block;
    width: 25%;
   
  }
  .cv-canhan,
  .web-thucung,
  .web-tintuc {
    border: 1px solid #adb5bd;
    display: block;
  }
  .link-footer {
    display: block;
    gap: 10px;
    transform: translate(10%, 0);
  }
  .icon-facebook-circled,
  .icon-linkedin-circled,
  .icon-github-circled {
    font-size: 100%;
    display: block;
  }
  a:link,
  a:visited {
    text-transform: none;
    text-decoration: none;
    display: block;
  }
  
  .title-link {
    display: block;
  }
  .title-link a {
    width: auto;
    height: 20%;
    display: block;
  }
}



